h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
body { 
    font-family: Arial, Helvetica, sans-serif;
}
}
#banner{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}
.brushes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
.brushes-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
.frames {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
.frames-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
.paint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
.paints-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}